<style>
    /* ============= general ============= */
    body {
        overflow: hidden;
        background-color: white;
    }

    * {
        font-family: 'Roboto';
        padding: 0;
        margin: 0;
        border: 0;
    }

    header.map,
    footer.map {
        width: 100%;
        position: absolute;
        z-index: 100;
        background-color: white;
    }

    header.map div.line,
    footer.map div.line {
        height: 0.8vw;
        width: 100%;
        background-color: #6BB238;
    }

    header.map {
        top: 0;
        padding-top: 3.5vw;
        left: 0
    }

    header.map img {
        position: absolute;
        top: 3.5vw;
        right: 5vw;
        width: 35vw;
    }

    header.map h3 {
        font-weight: 800;
        color: #948E98;
        position: absolute;
        top: 10vw;
        right: 5vw;
        font-size: 2.5vw;
        letter-spacing: -5%;
    }

    footer.map {
        top: 130vw;
        left: 0;
        padding-bottom: calc(max(5vw, 100vh - 131vw));
    }

    div.line.skeleton {
        height: 3vw;
        border-radius: 0.5vw;
        margin: 0;
    }

    div.block.skeleton {
        width: 100%;
        height: 100%;
    }

    div.skeleton {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }


    svg#metromap_map {
        width: 100%;
        height: auto;

    }

    svg#metromap_map.zoomed {
        cursor: grab;
    }

    svg#metromap_map.focus g * {
        opacity: 0.1;
    }

    svg#metromap_map.focus g.unions,
    svg#metromap_map.focus g.decorations,
    svg#metromap_map.focus g.decorations * {
        opacity: 1;
    }

    svg#metromap_map.focus g.unions g {
        opacity: 0.1;
    }

    svg#metromap_map g.focus {
        opacity: 1 !important;
    }

    svg#metromap_map g.focus * {
        opacity: 1 !important;
    }

    button.active {
        background-color: green;
        color: white;
    }

    /* ============== line_info ============== */

    div.line_info {
        display: block;
        position: absolute;
        right: 3vw;
        top: calc(100vw / 1.35);
        width: 30vw;
        transform: scale(0.85);
        background-color: white;
    }

    div.line_info div.group {
        width: 100%;
        border-top: 1px solid #97969B;
        padding: 0.8vw 0 0 0;
    }

    div.line_info div.main_title {
        width: auto;
        display: inline-flex;
        padding-right: 1.5vw;
        border-bottom: 1px solid #6BB238;
    }

    div.line_info div.main_title h2 {
        color: #6BB238;
        font-weight: 600;
        font-size: 1.9vw;
        display: inline;
    }

    div.line_info div.main_title span,
    div.line_info div.title span {
        color: #6C6C6C;
        font-weight: 500;
        font-size: 1.4vw;
        display: inline;
        font-style: italic;
        padding-top: 0.4vw;
        margin-left: 0.4vw;
    }

    div.line_info div.title {
        display: flex;
        margin-top: 1vw;
        margin-bottom: 0;
    }

    div.line_info div.title h3 {
        color: black;
        font-weight: 500;
        font-size: 1.6vw;
        display: inline;
    }

    div.line_info div.title span {
        padding-top: 0.2vw;
        letter-spacing: -0.065em;
    }

    div.line_info button {
        display: flex;
        align-items: center;
        width: 30vw;
        height: 2.5vw;
        background: transparent;
        cursor: pointer;
        margin-bottom: 0.3vw;
    }

    div.line_info.focus button {
        opacity: 0.1;
    }

    div.line_info.focus button.active {
        opacity: 1;
    }

    div.line_info button div.line {
        width: 25%;
        height: 40%;
        border-radius: 1vw;
        background-color: var(--line-color);
        margin-right: 0.7vw;
    }

    div.line_info button div.line_name {
        height: 100%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 600;
        background-color: var(--line-color);
        font-size: 2.2vw;
        border-radius: 0.5vw;
        margin-right: 0.5vw;
    }

    div.line_info button label {
        font-size: 1.4vw;
        font-weight: 500;
        letter-spacing: -0.05em;
        color: black;
        cursor: pointer;
    }

    /* ============== station_info ============== */

    div#station_info {
        display: none;
        position: absolute;
        right: 3vw;
        top: 12vw;
        width: 35vw;
        transform: scale(0.85);
        border: 0.5vw solid #6BB238;
        border-radius: 1vw;
        background: white;
    }

    div#station_info.active {
        display: block;
    }

    div#station_info header {
        width: 100%;

    }

    div#station_info header div.title {
        height: auto;
        padding: 0.5vw 1vw;
        background-color: #6BB238;
        display: flex;
        align-items: center;
        position: relative;
        min-height: 2vw;
    }

    div#station_info header div.title button {
        position: absolute;
        right: 1vw;
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -0.2vw;
        cursor: pointer;
    }

    div#station_info header div.title h3 {
        font-size: 2vw;
        font-weight: 500;
        display: inline;
        color: white;
    }

    div#station_info header div.title div.line {
        width: 2.8vw;
        height: 2.8vw;
        border-radius: 0.5vw;
        background-color: var(--line-color);
        margin-left: 0.7vw;
        color: white;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div#station_info header div.map {
        width: 100%;
        height: 15vw;
    }

    div#station_info div.info {

        width: calc(100% - 2vw);
        padding: 0 1vw;
    }

    div#station_info div.info.content {
        border-top: 0.5vw solid #6BB238;
    }

    div#station_info div.info div.title {
        display: flex;
        padding-bottom: 1vw;
        border-bottom: 1px solid #97969B;
        margin-top: 1.5vw;
    }

    div#station_info div.info a.alert {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: 1vw;
        color: black;
        font-weight: 500;
    }

    div#station_info div.info a.alert svg {
        width: 2vw;
        height: 2vw;
        margin-right: 0.5vw;
    }

    div#station_info div.info a.alert.P svg path {
        fill: #f1c40f;
    }

    div#station_info div.info a.alert.M svg path {
        fill: #e74c3c;
    }

    div#station_info div.info div.title h4 {
        font-size: 2vw;
        font-weight: 500;
        display: inline;
        color: black;
    }

    div#station_info div.info div.title span {
        font-size: 1.4vw;
        font-weight: 500;
        display: inline;
        color: #6C6C6C;
        font-style: italic;
        padding-top: 0.4vw;
        margin-left: 0.4vw;
    }

    div#station_info div.info div.group {
        width: 100%;
        padding-top: 1.3vw;
    }

    div#station_info div.info div.group div.row {
        display: flex;
        margin-bottom: 1vw;
        position: relative;
        padding-left: 3vw;
        flex-wrap: wrap;
    }

    div#station_info div.info div.group div.row a {
        text-decoration: none;
    }

    div#station_info div.info div.group div.row h6 {
        font-size: 1.8vw;
        font-weight: 500;
        display: inline;
        color: black;
    }

    div#station_info div.info div.group div.row span {
        font-size: 1.4vw;
        font-weight: 500;
        display: inline;
        color: #6C6C6C;
        font-style: italic;
        padding-top: 0.4vw;
        margin-left: 0.4vw;
    }

    div#station_info div.info div.group div.row img {
        width: 2vw;
        height: 2vw;
        margin-right: 1vw;
        position: absolute;
        left: 0.3vw;
        top: 0;
    }

    /* ============== map status ============== */

    rect.station,
    circle.station,
    path.station {
        cursor: pointer;
    }

    rect.station {
        stroke: transparent;
        stroke-width: 50;
    }

    path.station {
        stroke: transparent;
        stroke-width: 10;
    }

    circle.station:hover {
        r: 15;
        stroke-width: 5;

    }

    svg#metromap_map .station.P {
        overflow: auto;
        position: relative;
    }

    svg#metromap_map .station.P {
        fill: #f1c40f;
    }

    svg#metromap_map .station.M {
        fill: #e74c3c;
    }
</style>