<style>
    body {
        overflow: hidden;
    }

    * {
        font-family: 'Roboto';
        padding: 0;
        margin: 0;
        border: 0;
    }

    svg#metromap_map {
        width: 100%;
        height: auto;
    }

    svg#metromap_map.focus g * {
        opacity: 0.1;
    }

    svg#metromap_map.focus g.unions,
    svg#metromap_map.focus g.decorations,
    svg#metromap_map.focus g.decorations * {
        opacity: 1;
    }

    svg#metromap_map.focus g.unions g {
        opacity: 0.1;
    }

    svg#metromap_map g.focus {
        opacity: 1 !important;
    }

    svg#metromap_map g.focus * {
        opacity: 1 !important;
    }

    button.active {
        background-color: green;
        color: white;
    }

    div.line_info {
        display: block;
        position: absolute;
        right: 30px;
        top: calc(100vw / 1.35);
        width: 30vw;
        transform: scale(0.85);
    }

    div.line_info div.group {
        width: 100%;
        border-top: 1px solid #97969B;
        padding: 10px 0 0 0;
    }

    div.line_info div.main_title {
        width: auto;
        display: inline-flex;
        padding-right: 1.5vw;
        border-bottom: 1px solid #6BB238;
    }

    div.line_info div.main_title h2 {
        color: #6BB238;
        font-weight: 600;
        font-size: 1.9vw;
        display: inline;
    }

    div.line_info div.main_title span,
    div.line_info div.title span {
        color: #6C6C6C;
        font-weight: 500;
        font-size: 1.4vw;
        display: inline;
        font-style: italic;
        padding-top: 0.4vw;
        margin-left: 0.4vw;
    }

    div.line_info div.title {
        display: flex;
        margin-top: 10px;
        margin-bottom: 1px;
    }

    div.line_info div.title h3 {
        color: black;
        font-weight: 500;
        font-size: 1.6vw;
        display: inline;
    }

    div.line_info div.title span {
        padding-top: 0.2vw;
        letter-spacing: -0.065em;
    }

    div.line_info button {
        display: flex;
        align-items: center;
        width: 30vw;
        height: 2.5vw;
        background: transparent;
        cursor: pointer;
        margin-bottom: 3px;
    }
    
    div.line_info.focus button {
        opacity: 0.1;
    }

    div.line_info.focus button.active {
        opacity: 1;
    }

    div.line_info button div.line {
        width: 25%;
        height: 40%;
        border-radius: 1vw;
        background-color: var(--line-color);
        margin-right: 0.7vw;
    }

    div.line_info button div.line_name {
        height: 100%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 600;
        background-color: var(--line-color);
        font-size: 2.2vw;
        border-radius: 0.5vw;
        margin-right: 0.5vw;
    }

    div.line_info button label {
        font-size: 1.4vw;
        font-weight: 500;
        letter-spacing: -0.05em;
        color: black;
        cursor: pointer;
    }
</style>