{% load static %}

<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="./styles.v1.css">
    {% include 'css/main.html' %}
</head>

<body>
    {% include 'components/map.html' %}
    <div class="line_info">
        <div class="group">
            <button>A</button>
            <button>B</button>
        </div>
        <div class="group">
            <button>H</button>
            <button>J</button>
            <button>K</button>
            <button>L</button>
            <button>M</button>
            <button>P</button>
        </div>
        <div class="group">
            <button>T</button>
            <button>O</button>
        </div>
        <div class="group">
            <button>1</button>
            <button>2</button>
        </div>
    </div>
    <script src="./scripts.v1.js"></script>
    {% include 'js/main.html' %}
</body>

</html>