<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Definimos el tipo de documento, idioma y codificación de caracteres -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Tweets</title>
    <!-- Referenciamos al archivo CSS externo que proporciona estilos para la página -->
    <link rel="stylesheet" href="https://embed-metromap.s3.amazonaws.com/css/tweets.min.css">
  </head>
  <body>
     <!-- Contenedor de tweets vacío donde se insertarán los tweets recuperados de la API -->
    <div id="tweet-container"></div>

    <!-- Incluimos el script proporcionado por Twitter para permitir la incrustación de tweets en la página web -->
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- Incluimos el script de JavaScript que contiene la función renderTweets() -->
    <script src="https://embed-metromap.s3.amazonaws.com/js/tweets.min.js"></script>
    <!-- Definimos una constante apiUrl que contiene la URL de la API proporcionada en el contexto de Django -->
    <script>
      // Llamamos a la función renderTweets() con la URL de la API como argumento para cargar los tweets en el contenedor de tweets en la página web.
      const apiUrl = "{{ api_url }}";
      renderTweets(apiUrl);
    </script>
  </body>
</html>