body {
  /* La primera regla de estilo establece que el texto de la página web se mostrará 
  en la fuente Arial o una fuente sans-serif similar, y el fondo de la página web 
  tendrá un color de fondo #f2f2f2.*/
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Aplica un estilo al contenedor de tweets, 
  este tendrá un ancho máximo de 600 píxeles, un margen de 0 
  en la parte superior e inferior y un margen automático a la izquierda y derecha. 
  El contenedor de tweets también tendrá un relleno de 20 píxeles, 
  un fondo blanco y una sombra de caja para dar profundidad al contenedor. */
  #tweet-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Aplicamos un estilo a cada tweet individual, 
  estos tendrán un margen inferior de 20 píxeles. */
  .tweet {
    margin-bottom: 20px;
  }
  
  /* Aplicamos un estilo al contenido del tweet, 
  le damos un tamaño de fuente de 18 píxeles, un espaciado de línea de 1,5 
  y un margen inferior de 10 píxeles. */
  .tweet__content {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /* Le aplicamos al link del tweet untamaño de fuente de 16 píxeles
  y un color de texto azul. */
  .tweet__link {
    font-size: 16px;
    color: #0645AD;
  }
  