div.status_table {
    width: 100%;
    border: 1px solid lightgray;
    margin-top: 2rem;
}

div.status_component {
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

div.status_component:last-child {
    border-bottom: 0;
}

div.status_component h3 {
    font-size: 1rem;
    font-weight: 600;
}

div.status_component a.status_row {
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
}

div.status_component div.status_row {
    padding: 25px 30px 10px 30px;
}

p.status_title {
    display: flex;
    align-items: center;
    gap: 8px;
}

div.tooltip {
    position: relative;
}

div.tooltip span {
    display: none;
    position: absolute;
    top: -37px;
    width: auto;
    background-color: #191e25;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    white-space: nowrap;
    font-size: 11px;
    transform: translateX(calc(-50% + 10px));
}

div.tooltip span::after {
    position: absolute;
    height: 6px;
    width: 11px;
    background-color: #191e25;
    content: "";
    bottom: -6px;
    right: calc(50% - 5px);
    clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
}

div.tooltip:hover span {
    display: block;
}

p.status_title svg p.O {
    color: #2fcc66;
}

p.U {
    color: #3498db;
}

p.M {
    color: #e74c3c;
}

p.P {
    color: #f1c40f;
}